@media screen and (min-width: 320px) {

  /***********************allgemeine Klassen***********************/
  * {
    box-sizing: border-box;
    border: none;
  }

  body {
    background-color: white;
  }

  header {
    font-size: 10px;
    margin-bottom: 3em;
  }

  label {
    color: #f5b718;
    text-decoration-line: underline;
    margin-bottom: 12px;
  }

  .font {
    font-family: "Roboto";
    font-size: 24px;
    font-style: normal;
    font-weight: lighter;
    letter-spacing: 0.05em;
  }

  .contentCenter {
    text-align: center;
  }

  .hidden {
    display: none;
  }

  .txtUppercase {
    text-transform: uppercase;
  }

  ::placeholder {
    color: #4faaff;
    opacity: 0.4;
  }

  /***********************Flex***********************/

  .taskTemplateColumn {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    max-width: 500px;
    width: auto;
    margin: auto;
  }

  .taskTemplate {
    display: flex;
    justify-content: center;
    margin: 0 1.3em 1em 1.3em;
    padding: 0.3em;
  }

  .task-priority,
  .task-status {
    flex: 1;
  }

  .task-priority img,
  .task-status img {
    padding-top: 4px;
  }

  .task-name {
    flex: 7;
    padding: 0.3em;
    width: auto;
    word-wrap: break-word;
  }

  div.bottomNav {
    display: flex;
  }

  .prio-flex {
    display: flex;
    flex-direction: row;
  }

  .prio-flex label {
    flex: 1;
    margin-bottom: 0;
    padding: 0.4em 0 0.3em 0;
  }

  .prio-flex select {
    flex: 4;
    border: 1px solid #4faaff;
    padding: 0.2em 0.3em 0.3em 0.3em;
    cursor: pointer;
  }

  .flex-row {
    display: flex;
    flex-direction: row;
  }

  .flex-row label {
    flex: 1;
  }


  /***************Individuelle class-Def.**************/

  ul li {
    list-style-type: none;
  }

  li div {
    height: auto;
  }

  button.checkbox {
    background: none;
    padding: 0;
    height: 52px;
    outline: none;
  }

  .tools button,
  .tools img {
    margin-top: 4px;
    padding: 0;
    width: 20px;
    height: 20px;
    background: none;
    border: none;
  }

  .details-task-description textarea,
  .eigenschaftenDropDown,
  .details-task-name {
    outline: none;
  }

  .eigenschaftenDropDown {
    border-radius: 8px;
  }

  /*Asterik*/
  label span {
    color: red;
  }

  .details-task-description textarea {
    border: 1px solid #4faaff;
    border-radius: 8px;
    padding: 0.5em;
    margin-bottom: 1em;
  }

  .img-lines img {
    height: 20px;
    width: auto;
    margin-bottom: 1px;
  }

  .img-lines {
    background: rgba(117, 61, 247, 0.1);
    height: 22px;
    margin: 2em 0;
    border-radius: 8px;
  }

  /******************Individuelle ID-Def.*******************/

  #add-task textarea {
    line-height: normal;
    outline: none;
    background: none;
  }

  #find-task {
    border: dotted 2px #f5b718;
    margin-bottom: 0.8em;
    display: flex;
    padding: 0.4em;
    border-radius: 8px;
  }

  #find-task ::placeholder {
    color: #f5b718;
    opacity: 100;
  }

  #find-task div.search-icon {
    flex: 1;
    position: absolute;

  }

  #find-task textarea {
    flex: 3;
    outline: none;
    background: none;
    padding-left: 1.7em;
    padding-right: 1.7em;
    word-wrap: break-word;
  }

  #add-task {
    margin-bottom: 0.8em;
    border-radius: 8px;
    background-color: #ffffff;
    opacity: 80%;
    border: dotted 2px #4faaff;
    display: flex;
    justify-content: center;
    padding-top: 0.3em;
    padding-bottom: 0.3em;
    padding-right: 1.7em;
    padding-left: 1.7em;
    overflow: hidden;
  }

  #add-task ::placeholder {
    color:#4faaff;;
    opacity: 0.5;
  }

  #add-task textarea {
    color: #4faaff;
    flex: 1;
    width: auto;
    word-wrap: break-word;
  }

  #new-task-list-name ::placeholder {
    color: #ffffff;
    opacity: 0.5;
  }

  #new-task-list-name {
    display: flex;
    justify-content: center;
    padding-top: 1em;
    padding-bottom: 1em;
    overflow: hidden;
    border-top: 1px solid rgb(117, 61, 247);
    border-left: 2px dotted rgb(117, 61, 247);
    border-right: 2px dotted rgb(117, 61, 247);
    border-bottom: 2px dotted #ffffff;
    border-radius: 8px 8px 0 0;
    background-color: rgba(117, 61, 247, 0.3);
  }

  #new-task-list-name textarea {
    flex: 1;
    width: auto;
    word-wrap: break-word;
    color: #ffffff;
    font-size: 28px;
    font-weight: normal;
    outline: none;
    background: none;
  }



  textarea::-webkit-scrollbar {
    display: none; 
  }

  textarea {
    resize: none;
    overflow: hidden;
    min-height: auto;
    max-height: auto;
  }

  .details-task-name {
    border: solid 1px #4faaff;
    border-radius: 8px 8px 0 0;
    background: none;
    margin-bottom: 1em;
    padding: 0.5em;
  }

  #task-list,
  #task-list-done {
    padding-inline-start: 0;
    margin-bottom: 1em;
  }

  #task-list {
    border-left: 2px dotted rgb(117, 61, 247);
    border-right: 2px dotted rgb(117, 61, 247);
    margin-top: 0;
  }

  #task-list-done {
    border-left: 2px dotted rgba(117, 61, 247, 0.4);
    border-right: 2px dotted rgba(117, 61, 247, 0.4);
  }

  ul#task-list-done li:nth-of-type(odd),
  ul#task-list li:nth-of-type(odd) {
    border: solid 1px #4faaff;
    border-radius: 8px 50px 50px 8px;
  }

  ul#task-list-done li:nth-of-type(even),
  ul#task-list li:nth-of-type(even) {
    border: solid 1px #f5b718;
    border-radius: 50px 8px 8px 50px;
  }

  ul#task-list-done li:nth-of-type(odd) {
    border: dotted 2px #4faaff;
  }

  ul#task-list-done li:nth-of-type(even) {
    border: dotted 2px #f5b718;
  }


  ul#task-list-done li:nth-of-type(odd) {
    background: rgba(79, 170, 255, 0.2);
    opacity: 50%;
  }

  ul#task-list-done li:nth-of-type(even) {
    background: rgba(245, 183, 24, 0.2);
    opacity: 50%;
  }

  ul#task-list li.errorBox {
    border: 2px solid red;
    border-radius: 8px;
    padding: 0.4em;
    font-size: 20px;
    color: red;
    background: rgba(255, 0, 0, 0.1);
  }

  ul#task-list li.errorBox img {
    margin-left: 20%;
    width: 40px;
    height: auto;
  }

  .errorBox .task-name {
    margin-top: 3px;
  }

  .details span#details-task-name-error {
    padding: 0.5em;
    text-align: center;
    font-weight: normal;
    font-size: 18px;
    border: solid 1.5px red;
    border-top: none;
    color: red;
    margin-top: -1.7em;
    margin-bottom: 1em;
    background-color: rgba(255, 0, 0, 0.1);
    border-radius: 0 0 8px 8px;
  }

  #add-task2 button,
  #add-task2 img {
    width: 100px;
    height: 100px;
    padding: 0;
    background: none;
    cursor: pointer;
  }

  div#add-task2 {
    display: flex;
    position: sticky;
    justify-content: flex-end;
    bottom: 4%;
    z-index: 1000;
  }

  /*  temp-start  */

  #add-task-list2 button,
  #add-task-list2 img {
    width: 100px;
    height: 100px;
    padding: 0;
    background: none;
    cursor: pointer;
  }

  div#add-task-list2 {
    display: flex;
    position: sticky;
    justify-content: flex-end;
    bottom: 4%;
    z-index: 1000;
  }

  /*  temp-end  */

  #done-btn,
  #cancel-btn {
    width: 124px;
    height: 52px;
    background-color: #4faaff;
    border: solid 2px #4faaff;
    border-radius: 8px;
    color: white;
    font-size: 20px;
    text-align: center;
    text-decoration: none;
    margin: 300px 0 0 0;
    cursor: pointer;
  }

  #cancel-btn {
    background-color: #ffffff;
    color: #4faaff;
  }

  div.bottomNav button#done-btn {
    margin-left: auto;
  }

  /******************* Drop Down Menu ***********************/

  .prio-flex select option[value="1"] {
    background: rgba(117, 61, 247, 0.1);
    font-weight: lighter;
  }

  .prio-flex select option[value="2"] {
    background: rgba(117, 61, 247, 0.3);
    font-weight: lighter;
  }

  .prio-flex select option[value="3"] {
    background: rgba(117, 61, 247, 0.7);
    font-weight: lighter;
  }








}